<!DOCTYPE html>
<html lang="en">

<body>
    <div class="wrapper">
        <div class="left">
            <h1><i class="fas fa-address-card"></i>
            </h1>
            <br>
            <br>
            <hr>
            <br>
            <h4>About Dusk</h4>
            <br>
            <br>
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="right">
            <div class="info">
                <h3>Who are we?</h3>
                <div class="info_data">
                    <div class="data">
                        <h6>We are a digital transformation consultancy and software development company that provides
                            cutting edge engineering solutions, helping companies and enterprise clients untangle
                            complex issues that always emerge during their digital evolution journey.</h6>
                    </div>
                    <div class="data">
                        <h6>Since 2017 we have been a visionary and a reliable software engineering partner for
                            world-class brands and started the development of our own product: Dusk.</h6>
                    </div>
                </div>
            </div>

            <div class="projects">
                <h3>Where are we now?</h3>
                <div class="projects_data">
                    <div class="data">
                        <h6>Dusk is used by everyone from local hiking clubs, to art communities, to study groups.
                            Dusk has millions of people creating places for their friends and communities, talking
                            for upwards of 4 hours per day on the platform. Dusk is now where the world talks, hangs
                            out, and builds relationships. </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>