<!DOCTYPE html>
<html lang="en">

<!--
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	<link rel="stylesheet" href="css/style.css" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
</head>
-->

<body>
    <div class="registration-container">
        <header class="join-header">
            <h1><i class="fa fa-user-astronaut"></i> Dusk <br>
                <h2>Connect with friends and the world around you.</h2>
            </h1>
        </header>
        <hr>
        <br>
        <form class="login-form" id="login-form">
            <input type="text" autocomplete="off" id="username" placeholder="Username" required />
            <br>
            <input type="password" autocomplete="off" id="password" placeholder="Password" required />
            <br>
            <button class="btn" type="submit" value="Login">Log In &nbsp;<i class="fas fa-sign-in-alt"></i>
            </button>
        </form>
        <br>
        <% if(typeof errorMessage !='undefined' ){ %>
            <p style="color: red;">
                Invalid username or password.
            </p>
            <% } %>

    </div>

    <script>
        const form = document.getElementById('login-form');
        form.addEventListener('submit', loginUser);

        async function loginUser(event) {
            // event.preventDefault(); // to not refresh the page

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const result = await fetch('/check-valid-login', { // sending data in JSON format to the server.js
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username,
                    password
                })
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            }).catch(function (err) {
                console.info(err + " url: " + url);
            });

            console.log(window.location.href);

            /*
            if (result.status === 'ok') {
                alert('Success');
            } else {
                alert('mare eroare');
            }
            */
        }
    </script>
</body>

</html>