<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        input[type='text'],
        input[type='password'] {
            border-radius: 25px;
            font-size: 16px;
            padding: 5px;
            height: 40px;
            flex: 1;
            font-family: 'Roboto Mono', monospace;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <div class="left">
            <h1><i class="fas fa-user-circle"></i>
            </h1>
            <br>
            <% if(typeof userName !='undefined' ){ %>
                <h3>
                    <%= userName %>
                </h3>
                <% } %>
                    <br>
                    <hr>
                    <br>
                    <h4>Basic Flask User</h4>
        </div>
        <div class="right">
            <div class="info">
                <h3>Personal account data</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Firstname</h4>
                        <% if(typeof firstName !='undefined' ){ %>
                            <p>
                                <%= firstName %>
                                    <p>
                                        <% } %>
                    </div>
                    <div class="data">
                        <h4>Lastname</h4>
                        <% if(typeof lastName !='undefined' ){ %>
                            <p>
                                <%= lastName %>
                                    <p>
                                        <% } %>
                    </div>
                </div>
            </div>

            <div class="projects">
                <form class="update-form" id="update-form">
                    <input required type="text" autocomplete="off" id="firstname" placeholder="Firstname" />
                    <br>
                    <input required type="text" autocomplete="off" id="lastname" placeholder="Lastname" />
                    <br>
                    <input type="password" autocomplete="off" id="password" placeholder="Password" />
                    <br>
                    <br>
                    <button class="btn" type="submit" value="Update">Update &nbsp; <i
                            class="fas fa-user-edit"></i></button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>